* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav img {
    display: flex;
    align-items: center;
    margin: 2px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    color: white;
}

.nav-links a:active {
    background-color: #141113;
    color: white;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(187, 182, 182);
    margin: 5px;
}

.cover {
    background: url("images\tracks.jpg");
    background-size: cover;
    border: 6px solid #333;
    margin: 20px
}

.box-container {
    width: 80%;
    height: 600px;
    display: inline-block;
    margin: 0 10%;
    box-shadow: 27px 87px rgba(0, 0, 0, 0.37);
}